{% extends '::base.html.twig' %}

{% block body -%}
	{%  if CodeProfilEnCours is defined %}
	<div class="titrelisteetform">
   	 	<h1>Liste des Accompagnements</h1>
   	</div>

    <div class="listeetform avecscroll">
	    <table class="records_list table table-striped">
	        <thead>
            <tr>
                <th>Libelle</th>
                <th>Composition</th>
                <th>Saisi le</th>
                <th>Activé</th>
                <th>Actions</th>
            </tr>
	        </thead>
	        <tbody>
	        {% for entity in entities %}
	            <tr>
	            	{% if entity.instruments_id==0 %}
	            	
			                <td><a href="{{ path('accompagnements_show', { 'id': entity.id }) }}">{{ entity.libelle }}</a></td>
			                <td>&nbsp;</td>
			                <td>{% if entity.datecreateAt %}{{ entity.datecreateAt|date('d/m/Y') }}{% endif %}</td>
			                <td>{{ entity.active==1 ? "O" : "N"}}</td>
			                <td>
			                    <a href="{{ path('accompagnements_edit', { 'id': entity.id }) }}">
		                        	<img alt="Modification" src="/web/css/images/edit.png">
		                        
		                        </a>
		                        &nbsp;
			                        <a class="classajoutsscatvoix" href="{{ path('compositions_new', { 'idaccomp': entity.id }) }}">
									<img alt="ajout" src="/web/css/images/add.png">
								</a>				                    
		                        
			                </td>
			                	            	
           	
		           {% else %}


	            		<td>&nbsp;</td>
		                <td><a href="{{ path('compositions_show', { 'id': entity.id }) }}">{{ entity.quantite }}&nbsp;{{ entity.libelle }}(s)</a></td>
		                <td>{% if entity.datecreateAt %}{{ entity.datecreateAt|date('d/m/Y') }}{% endif %}</td>
		                <td>{{ entity.active==1 ? "O" : "N"}}</td>
		                <td>
	                        <a href="{{ path('compositions_edit', { 'id': entity.id }) }}">
	                        	<img alt="Modification" src="/web/css/images/edit.png">
	                        </a>
		                </td>	 
		                
	              {% endif %}
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	</div>
	
		<div class="finlisteetform">
	        <ul>
	        <li>
	            <a href="{{ path('accompagnements_new') }}">
		            <img alt="ajout" src="/web/css/images/add.png">
	            </a>
	        </li>
	    	</ul>
		
		</div>
		{% endif %}
    {% endblock %}
    
{% block javascripts %}

	{{ parent() }}

       <script type="text/javascript">

			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
       </script>    
{% endblock %}
       