{% extends '::base.html.twig' %}

{% block body -%}
	<div class="titrelisteetform">

    <h1>Sous catégories de Voix</h1>

	</div>

	    <div class="listeetform avecscroll">
	    	<table class="records_list table table-striped">
	    	
		        <thead>
		            <tr>
		                <th>Libelle</th>
		                <th>Sous Catégorie</th>
		                <th>Active</th>
		                <th>Saisie le</th>
		                <th>Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% set idvoix=0 %}
		        {% for entity in entities %}
		        
		        	{% if idvoix==0 or entity.id!=idvoix %}
		        
		            <tr>
		                <td><a href="{{ path('voix_show', { 'id': entity.id }) }}">{{ entity.libelle }}</a></td>
		                
		                <td>&nbsp;</td>
		                <td>{{ entity.active==1 ? "O" : "N"}}</td>
		                <td>{% if entity.datecreateAt %}{{ entity.datecreateAt|date('d/m/Y') }}{% endif %}</td>
		                <td>
		                <ul>
		                    <li>
		                        <a href="{{ path('voix_edit', { 'id': entity.id }) }}">
  		                        	<img alt="Modification" src="/web/css/images/edit.png">
		                        
		                        </a>
&nbsp;
{% set classajoutsscatvoix="ajoutsscatvoix"~entity.id %}
			                        <a class="{{classajoutsscatvoix}}" href="{{ path('sscategvoix_new', { 'idvoix': entity.id }) }}">
	  		                        	<img alt="Modification" src="/web/css/images/add.png">
			                        
			                        </a>
								
		                    </li>
		                    
		                    		                    
		                </ul>
		                </td>

		            </tr>
	            
	                	{% set idvoix = entity.id %}
	                	
		                	{% if entity.libsouscateg!="" %}
		                	<tr>
		                		<td>&nbsp;</td>
		                	
		                		<td>
			                	{{ entity.libsouscateg }}
			                	
			                	</td>
			                	
		               
		               			<td>{{ entity.sscatactive==1 ? "O" : "N"}}</td>
			                	
				                <td>{% if entity.datcsouscateg %}{{ entity.datcsouscateg|date('d/m/Y') }}{% endif %}</td>
			                	<td>
			                	
			                	
		                	
		                        <a href="{{ path('voix_edit', { 'id': entity.id }) }}">
  		                        	<img alt="Modification" src="/web/css/images/edit.png">
		                        
		                        </a>		                	
			                	
			                	</td>
	
		                	</tr>
		                	{% endif %}
	                
	                {% else %}
	                	<!-- sous categ suivantes -->
	                	<tr>
	                		<td>&nbsp;</td>
	                	
	                		<td>
		                	{{ entity.libsouscateg }}  	
		                	</td>

	               			<td>{{ entity.sscatactive==1 ? "O" : "N"}}</td>
		                	
			                <td>{% if entity.datcsouscateg %}{{ entity.datcsouscateg|date('d/m/Y') }}{% endif %}</td>
		                	<td>
		                	
		                        <a href="{{ path('voix_edit', { 'id': entity.id }) }}">
  		                        	<img alt="Modification" src="/web/css/images/edit.png">
		                        
		                        </a>		                	
		                	</td>

	                	</tr>
	                		                
	                {% endif %}
	                
		        {% endfor %}
		        </tbody>
		    </table>
		</div>
		<div class="finlisteetform">

	        <ul>
	        <li>
	            <a href="{{ path('voix_new') }}">
			            <img alt="ajout" src="/web/css/images/add.png">
	            </a>
	        </li>
	    	</ul>
    	</div>
    {% endblock %}
    
{% block javascripts %}

	{{ parent() }}

       <script type="text/javascript">

			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
       </script>    
{% endblock %}

    
