{% extends '::base.html.twig' %}

{% block body -%}
	<div class="titrelisteetform">

    <h1>Liste des Genres</h1>

	</div>
    <div class="listeetform avecscroll">
	    <table class="records_list table table-striped">
	        
	        <thead>
	            <tr>
	                <th>Code</th>
	                <th>Libelle</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
		        {% for entity in entities %}
		            <tr>
		                <td><a href="{{ path('genres_show', { 'id': entity.id }) }}">{{ entity.code }}</a></td>
		                <td>{{ entity.libelle }}</td>
		                <td>
		                	<ul class="lstactionsul">
			                <!-- 
			                    <li>
			                        <a href="{{ path('genres_show', { 'id': entity.id }) }}">show</a>
			                    </li>
			                     -->
			                    <li>
			                        <a href="{{ path('genres_edit', { 'id': entity.id }) }}">
			                    		<img alt="Modification" src="/web/css/images/edit.png">
			                        </a>
			                    </li>
			                </ul>
		                </td>
		            </tr>
		        {% endfor %}
	        </tbody>
	    </table>
	</div>
	<div class="finlisteetform">

    	
    	<table>
    		<tr>
    			<td>
	            <a href="{{ path('genres_new') }}">
			            <img alt="ajout" src="/web/css/images/add.png">
	            </a>
    			</td>
    			                                 {# FILTRES #}
                                 {{ form_start(filtre_form) }}
    
                                    <td>
                                    {{ form_label(filtre_form.genre, 'Genre', { 'label_attr': {'class': 'filtre-label'} }) }}    				
                        			{{ form_widget(filtre_form.genre) }}
                        			{{ form_errors(filtre_form.genre) }}
                                    </td>
                                    <td>
                        	
                        	        {{ form_label(filtre_form.tous, 'Tous', { 'label_attr': {'class': 'filtre-label'} }) }}    				
                        			{{ form_widget(filtre_form.tous) }}
                        			{{ form_errors(filtre_form.tous) }}		
                                    </td>
                        			<td>
                        			&nbsp;&nbsp;&nbsp;&nbsp;
                        		    {{ form_widget(filtre_form.submit) }}
                        		    </td>
		    
                    			    {# FILTRES #}
					             {{ form_end(filtre_form) }}
    		</tr>
    	</table>
    </div>
    {% endblock %}

{% block javascripts %}

	{{ parent() }}

       <script type="text/javascript">


        {% if genre is defined %}
			$("#oeuvresbundle_filtre_genres_genre").val("{{genre}}");
        {% endif %}

        {% if tous is defined %}
        {{tous}}
            var obj = document.getElementById("oeuvresbundle_filtre_genres_tous");
            if(obj)
                {
            	obj.value="{{tous}}";
                }
        {% endif %}
		
			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
       </script>
{% endblock %}
    