{% extends '::base.html.twig' %}

{% block body -%}
	{%  if CodeProfilEnCours is defined %}
         {% if couleurdef is defined %}
            {% if couleurdef== 0 %}
         	    <div class="titrelisteetformoeuvre" >
    	     {% else %}
    	    	<div class="titrelisteetform" >
    	     {% endif %}
         {% else %}
        	<div class="titrelisteetform" >
         {% endif %}


    <h1>{{ entity.titreOeuvre }} 
    	                {% if entity.traductiontitreOeuvre!="" %}
    	                    {% if entity.traductiontitreOeuvre!= entity.titreOeuvre %}
    							( {{ entity.traductiontitreOeuvre }} )
		                    {% endif %}
		                {% endif %}
		                 </h1>
	
	</div>
    <div class="listeetform">

		<div class="showform">
	
		    <table class="record_properties">
		        <tbody>
<!-- 
		            <tr>
		                <th class="libelleFomShow" >Titre</th>
		                <td>{{ entity.titreOeuvre }}</td>
		            </tr>
		             -->
		            <tr class="ligneshow" >
		                <th>Compositeur</th>
		                 {% if Compositeur is defined %}
		                 <td>{{ Compositeur }}
		                    {% if idCompositeur is defined and idCompositeur!=0 %}
		                 

			                 <td>&nbsp;
    	                        <a href="{{ path('compositeurs_edit', { 'id': idCompositeur }) }}">
    	                        	<img alt="Modification" src="/web/css/images/edit.png">
    	                        </a>
		                     </td>		                 
		                 
		                     {% endif %}
		                     
		                 {% endif %}
		                 </td>		                
		            </tr>		
		            
		            <tr class="ligneshow" >
		                <th>Harmonisateur</th>
		                 {% if Harmonisateur is defined %}
		                 <td>{{ Harmonisateur }}
		                 {% endif %}
		                 </td>		                
		            </tr>
		            		            		            
		            <tr class="ligneshow" >
		                <th>Anonyme</th>
		                <td>{{ entity.anonyme==1 ? "O" : "N"}}</td>
		            </tr>	            
	                
		            <tr class="ligneshow" >
		                <th>Genre</th>
		                 {% if Genre is defined %}
		                 <td>{{ Genre }}
		                 {% endif %}
		            </tr>
		            
		            <tr class="ligneshow" >
		                <th>Type de musique</th>
		                 {% if Typedemusique is defined %}
		                 <td>{{ Typedemusique }}
		                 {% endif %}
		            </tr>		            
		            	                
		            <tr class="ligneshow" >
		                <th>Temps liturgique</th>
		                 {% if TempsLiturgique is defined %}
		                 <td>{{ TempsLiturgique }}</td>
		                     {% if idTempsLiturgique!=0 %}
			                 <td>&nbsp;
    	                        <a href="{{ path('tempsliturgiques_edit', { 'id': idTempsLiturgique }) }}">
    	                        	<img alt="Modification" src="/web/css/images/edit.png">
    	                        </a>
		                     </td>		                 
		                     {% endif %}
		                 {% endif %}
		                                 
		            </tr>
		            
		            <tr class="ligneshow" >
		                <th>Fonction du rite liturgique</th>
		                 {% if Fonction is defined %}
		                 <td>{{ Fonction }}
		                 {% endif %}
		            </tr>
		            
		            <tr class="ligneshow" >
		                <th>Catégorie de Voix</th>
		                 <td>
		                 {% if Voix is defined %}
		                 {{ Voix }}
		                 {% endif %}
		                 
		                 {% if Sscategvoix is defined %}
    		                 {% if Sscategvoix!='' %}
    		                 &nbsp;/&nbsp;{{ Sscategvoix }}
    		                 {% endif %}
		                 {% endif %}
		                 
		                 </td>
		                 
		                 
		            </tr>
		            
		            <tr class="ligneshow" >
		                <th>Orchestrations</th>
		                 {% if Orchestrations is defined %}
		                 <td>{{ Orchestrations }}</td>
		                 {% endif %}		                 
		            </tr>		     		            

		            <tr class="ligneshow" >
		                <th>Langues</th>
		                 {% if Langues is defined %}
		                 <td>{{ Langues }}</td>
		                 {% endif %}		                 
		            </tr>		            
		            
		            <tr class="ligneshow" >
		                 {% if canon is defined %}
		                <th>Canon O/N</th>
		                <td>{{ entity.canon==1 ? "O" : "N"}}</td>
		                {% endif %}		                 
		            </tr>		            
		            
		            <tr class="ligneshow" >
		                <th>Accompagnement</th>
		                 {% if Accompagnement is defined %}
		                 <td>{{ Accompagnement }}</td>
		                 {% endif %}		                 
		            </tr>
		            		            
		            <tr class="ligneshow" >
		                <th>Côte</th>
		                <td>{{ entity.cote }}</td>
		            </tr>
		            
		            <tr class="ligneshow" >
		                <th >Numéro de dossier</th>
		                <td>{{ entity.reference }}</td>
		            </tr>
		            	        
		            <tr class="ligneshow" >
		                <th >Traducton</th>
     							    {% if entity.fichiertraduction !="" %}
										{% set sPathFichierPdf="../../../" ~ sDossierTraductions ~ "/"~ entity.fichiertraduction %}

		    			                <td>{{ entity.fichiertraduction }}
     							    	&nbsp;&nbsp;
										<img src="{{ app.request.getBasePath() ~ '/images/1417045437_folderopen1.png' }}"
										 width="40px" alt="Ouvrir fichier" onClick="window.open('{{ sPathFichierPdf }}');  "/>
										 
										 </td>
									{% else %}
										<td>&nbsp;</td>
									{% endif %}
											                
		            </tr>
		            		            
		            <tr class="ligneshow" >
		                <th>Siècle</th>
		                <td>{{ entity.siecle }}</td>
		            </tr>
		            
		            <tr class="ligneshow" >
		                <th  class="libelleFomShow">Durée</th>
		                <td>{{ entity.duree }}</td>
		            </tr>
		            		            

		            		            
		            <!-- 
		            <tr>
		                <th>Commentaires</th>
		                <td>{{ entity.commentaire }}</td>
		            </tr>		            
		             -->
		            		             
		            <tr class="ligneshow" >
		                <th>Active</th>
		                <td>{{ entity.actif==1 ? "O" : "N"}}</td>
		            </tr>
		            
		            <tr class="ligneshow" >
		                <th>Crée le</th>
		                <td>{{ entity.datecreateAt|date('d/m/Y') }}</td>
		            </tr>

		        </tbody>
		    </table>
		    
		    
		    <!-- PARTITIONS -->
		    
		    <h1>Partitions</h1>
		    
		    {% set nbpart=0 %}

		        						{% if Partitions is defined %}

											<table class="records_list table table-striped">

										        <thead>
										            <tr class="degrade">
										                <th>Libellé</th>
										                <th>Durée</th>

										                <th colspan="3" >Fichier</th>

										                <th>Saisie le</th>
										                <!-- 
										                <th>Sélection</th>
										                 -->
										                
										            </tr>
										        </thead>        
													
												{% for Partition in Partitions %}
														{% set nbpart=nbpart+1 %}
		
														<tr>

															<td>
														        
										                        <a href="{{ path('partitions_edit', {'oeuvre_id':entity.id ,'id': Partition.id } ) }}">
														   		{{ Partition.libelle }}
										                        </a>
														        
														        <br/>
		
															</td>
															<td>
															{{ Partition.duree }}
															</td>
															
															{%if Partition.pathfichier!=""%}
															
																{% set sPathFichierPdf="../../../" ~ sDossierPartitions ~ "/"~ Partition.pathfichier %}
																<td>
																	
																	{{ Partition.pathfichier }}
																	
																</td>

																<td>
																	<img src="{{ app.request.getBasePath() ~ '/images/1417045437_folderopen1.png' }}"
																	 width="40px" alt="Ouvrir fichier" onClick="window.open('{{ sPathFichierPdf }}'); "/>
																</td>			
																<td>
																	<a href="#" class="lienaffapppdf" pdf="{{sPathFichierPdf}}">
												                        <img alt="apperçu" src="/web/images/acroread.png">
											                        </a>																
																</td>														
															
															{% else %}
																<td>&nbsp;</td>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
															{% endif %}

															<td>
																{{ Partition.datecreateAt|date('d/m/Y') }}												
															</td>
															<!-- 
															<td>
															<input type="checkbox" />
															</td>
															 -->
														</tr>

												{% else %}

													<tr>
													<td colspan="5" >
														<h1>Aucune Partition n'a été trouvée</h1>
													</td>
													</tr>
					
																		    
												{% endfor %}

											    {% if nbpart != 0 %}
<!-- 
													<tr>
															<td colspan="4" >
																							
															</td>
															<td>
																Tout Sélectionner					
															</td>
															<td>
															<input type="checkbox" />
															</td>													
													</tr>
													
													 -->

												{% endif %}

													
										</table>
						
												 {% if nbpart != 0 %}
													<br/>
													Nombre de partition(s) : {{ nbpart }}							
												{% endif %}

												{% if entity.id !="" %}
													<br/>
													<a href="{{ path('partitions_create_part', { 'oeuvre_id': entity.id }) }}">
													<img alt="Ajouter une partition" src="/web/css/images/add.png">
													</a>													
												{% endif %}
												
									{% endif %}
		    
		    
		    <!-- FIN PARTITIONS -->
		    
		</div>
	</div>

	{% set CodeLoginEnCours=app.request.session.get("gUserLoginLogged") %}

	{% set listeenregoeuvres=app.request.session.get(CodeLoginEnCours ~ '_oeuvres_tblenreg') %}
	
	{% set enregencours= 1 %}
	{% set nbenreg=0 %}
	{% set idenreg=0 %}
	
	<div style="background-color:beige; display:none;">
	            		           	<br/>
	nb enreg oeuvres=
		
		{{ listeenregoeuvres|length }}
		
		            		           	<br/>
		<!--  |keys affiche clé -->
		
		{% for enregoeuvreskeys in listeenregoeuvres|keys %}
		
			{% set key= enregoeuvreskeys %}
		

				{% if key=='enregencours' %}
					{% set enregencours= listeenregoeuvres[key] %}
					
				{% endif %}
				{% if key=='tblenreg' %}
				<h1>		
						
					{% set cptr=0 %}
					{% for idoe in listeenregoeuvres[enregoeuvreskeys] %}	
						{% set cptr=cptr+1 %}
						<br/>idoe:{{ idoe }}
						{% if  entity.id==idoe %}
							
							{% set idenreg = cptr %}
						{% endif %}
					{% endfor %}
					{{ listeenregoeuvres[key]|length }}
					{% set nbenreg=listeenregoeuvres[key]|length %}
							
					nbenreg={{ nbenreg }}
				</h1>
				{% endif %}
				
				{% if listeenregoeuvres[enregoeuvreskeys] is iterable %}
				
					{% for enregoeuvresn0 in listeenregoeuvres[enregoeuvreskeys] %}	
												
						{% for enregoeuvreskeys1 in enregoeuvresn0|keys %}
																								
							{% if enregoeuvresn0[enregoeuvreskeys1] is iterable %}
	
							{% else %} 
										
							{% set key1= enregoeuvreskeys1 %}
							
							{% endif %} 
					
						{% endfor %}
						
					{% endfor %}
					
				{% else %} 
				{% endif %} 


		{% endfor %} 
					
					
	</div>

	<div class="finlisteetform">
         
		<table>
			<tr>
				<td class="tdtblactionsbdp">
				
			        <a href="{{ path('oeuvres') }}">
				            <img alt="Retour à la liste" src="/web/css/images/retour_liste.png">
			        </a>
				</td>
				<td class="tdtblactionsbdp">
			        <a href="{{ path('oeuvres_edit', { 'id': entity.id }) }}">
				        <img alt="Modification" src="/web/css/images/edit.png">
			        </a>
				
				</td>
				<td class="tdtblactionsbdp" >
        	            <a href="{{ path('compositeurs') }}">
        		            <img alt="compositeurs" src="/web/images/composer2.png">
        	            </a>				
				</td>
				<td class="tdtblactionsbdp">
				    <a href="{{ path('oeuvres_confirm_action_delete', { 'id': entity.id }) }}">
			             <img alt="Désactiver" src="/web/css/images/desactiver.png" width="64px" height="64px" >
				    </a>			
				</td>
				
				<td style="background-color:beige; " >
				    {% if idenreg>1 %}
					<a href="{{ path('oeuvres_pagine', { 'idxenreg': idenreg , 'sens': 'prec' , 'action': 'show' }) }}">
			             <img alt="Précedente" src="/web/images/Actions-arrow-left-icon.png" width="64px" height="64px" >
				    </a>
				    {% endif %}
					{% if idenreg<=1 %}
			             <img alt="premier enregistrement" src="/web/images/Actions-arrow-left-icon.png" width="64px" height="64px" 
			              style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" >
				    {% endif %}				    		    
				    &nbsp;
				    {{ idenreg }}&nbsp;&nbsp;/&nbsp;&nbsp;{{ nbenreg }}
				    &nbsp;
					
					{% if idenreg>=nbenreg %}
			             <img alt="dernier enregistrement" src="/web/images/Actions-arrow-right-icon.png" width="64px" height="64px"
			              style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" >
				    {% endif %}
					{% if idenreg<nbenreg %}
					
					<a href="{{ path('oeuvres_pagine', { 'idxenreg': idenreg , 'sens': 'suiv', 'action': 'show' }) }}">
			             <img alt="Suivante" src="/web/images/Actions-arrow-right-icon.png" width="64px" height="64px" >
				    </a>				    
				    
				    {% endif %}
				
				</td>
				
				
			</tr>
		</table>

	</div>
	{% endif %}
{% endblock %}

{% block javascripts %}

	{{ parent() }}

       <script type="text/javascript">

			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();

		     {% if couleurdef is defined %}
	         {% if couleurdef== 0 %}
				$('.titrelisteetformoeuvre').css('background-color', 'red'); // ma méthode modifiera la propriété "color" et la définira à "red"
				$('.titrelisteetformoeuvre').css('background-color', '{{couleur}}'); // ma méthode modifiera la propriété "color" et la définira à "red"
				$('.titrelisteetformoeuvre').css('color', '{{couleurfg}}');
	
				 {% endif %}
		    {% endif %}
		     
			
       </script>
{% endblock %}


