{% extends '::base.html.twig' %}

{% block body -%}
	{%  if CodeProfilEnCours is defined %}
	<div class="titrelisteetform">

    	<h1>Liste des Compositeurs</h1>
    	
 		   	{%  set filtres = "" %}
 	   	    {% if filtres != "" %}
         		( {{ filtres }})
 	        {% endif %}
	</div>
	
    <div class="listeetform avecscroll">
	    	<table class="records_list table table-striped">
	    	
	        <thead>
	            <tr>
	                <th>Nom</th>
	                <th>Prenom</th>
	                <th>Nationalite</th>
	                <th>Né le </th>
	                <th>Décédé le</th>
	                <th>Saisie le</th>
	                <th>Modification</th>
	                <th>Oeuvres</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for entity in entities %}
	            <tr>
	                
	                <td><a href="{{ path('compositeurs_show', { 'id': entity.id }) }}">{{ entity.nom }}
    	                {% if  entity.nomsec!='' %}
    	                 (&nbsp;&nbsp;{{ entity.nomsec }}&nbsp;&nbsp;)
    	                {% endif %}
    	                </a>
    	                
	                </td>
	                
	                <td>{{ entity.prenom }}</td>
	                <td>{{ entity.nationalite }}</td>
	                <td>{{ entity.datenaiss }}</td>
	                <td>{{ entity.datedeces }}</td>
	                <td>{% if entity.datecreateAt %}{{ entity.datecreateAt|date('d/m/Y') }}{% endif %}</td>
	                <td>
	                <ul>
	                    <li>
	                        <a href="{{ path('compositeurs_edit', { 'id': entity.id }) }}">
	                        	<img alt="Modification" src="/web/css/images/edit.png">
	                        </a>
	                    </li>
	                </ul>
	                </td>
	                <!-- lien vers liste des oeuvres oeuvres_compo -->
	                
	                <td>
    	                <ul>
    	                    <li>
    	                        <a href="{{ path('oeuvres_compo', { 'compoid': entity.id }) }}">
    	                        	<img alt="Oeuvres" src="/web/images/music2.png">
    	                        </a>
    	                    </li>
    	                </ul>
	                </td>
	                
	                
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	</div>
	<div class="finlisteetform">

        <table>
        <tr>
        <td>
            <a href="{{ path('compositeurs_new') }}">
	            <img alt="ajout" src="/web/css/images/add.png">
            </a>
            </td>
		    {# FILTRES #}
             {{ form_start(filtre_form) }}
            <td>
            {{ form_label(filtre_form.compositeur, 'Compositeur', { 'label_attr': {'class': 'filtre-label'} }) }}    				
			{{ form_widget(filtre_form.compositeur) }}
			{{ form_errors(filtre_form.compositeur) }}
            </td>
            <td>
	
	        {{ form_label(filtre_form.tous, 'Tous', { 'label_attr': {'class': 'filtre-label'} }) }}    				
			{{ form_widget(filtre_form.tous) }}
			{{ form_errors(filtre_form.tous) }}		
            </td>
			<td>
			&nbsp;&nbsp;&nbsp;&nbsp;
		    {{ form_widget(filtre_form.submit) }}
		    </td>
		    {{ form_end(filtre_form) }}
        </tr>
        </table>

    </div>
    {% endif %}
    {% endblock %}
    
    {% block javascripts %}

	{{ parent() }}

		<script type="text/javascript">

          	var objtous = document.getElementById("oeuvresbundle_filtre_compositeurs_tous");
  		
    		$( "#oeuvresbundle_filtre_compositeurs_compositeur").change(function() {
	            if(objtous)
                {
            	objtous.value="0";
                }
			});
	       {% if compositeur is defined %}
		       
	       		$("#oeuvresbundle_filtre_compositeurs_compositeur").val("{{compositeur}}");
			
			{% endif %}

	        {% if tous is defined %}
            var obj = document.getElementById("oeuvresbundle_filtre_compositeurs_tous");
            if(obj)
                {
            	obj.value="{{tous}}";
                }
	        {% endif %}
				
			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
       </script>    
	{% endblock %}
    
    