{% extends '::base.html.twig' %}

{% block body -%}
	<div class="titrelisteetform">

    	<h1>Liste des Avancements</h1>
	</div>
	
    <div class="listeetform avecscroll">
	    	<table class="records_list table table-striped">
		        <thead>
		            <tr>
		                <th>Libelle</th>
		                <th>Active</th>
		                <th>Datecreateat</th>
		                <th>Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% for entity in entities %}
		            <tr>
		                <td><a href="{{ path('avancements_show', { 'id': entity.id }) }}">{{ entity.libelle }}</a></td>
	                	<td>{{ entity.active==1 ? "O" : "N"}}</td>
		                <td>{% if entity.datecreateAt %}{{ entity.datecreateAt|date('d/m/Y') }}{% endif %}</td>
		                <td>
		                <ul>
		                    <li>
		                        <a href="{{ path('avancements_edit', { 'id': entity.id }) }}">
		                        		                        	<img alt="Modification" src="/web/css/images/edit.png">
		                        </a>
		                    </li>
		                </ul>
		                </td>
		            </tr>
		        {% endfor %}
		        </tbody>
	    	</table>
    	</div>
		<div class="finlisteetform">

                <table>
                <tr>
                    <td>
        	            <a href="{{ path('avancements_new') }}">
        			            <img alt="ajout" src="/web/css/images/add.png">
        	            </a>                
                    </td>
                    <td>
                    {# FILTRES #}
                     {{ form_start(filtre_form) }}
                    <td>
                    {{ form_label(filtre_form.avancement, 'Avancement', { 'label_attr': {'class': 'filtre-label'} }) }}    				
        			{{ form_widget(filtre_form.avancement) }}
        			{{ form_errors(filtre_form.avancement) }}
                    </td>
                    <td>
        	
        	        {{ form_label(filtre_form.tous, 'Tous', { 'label_attr': {'class': 'filtre-label'} }) }}    				
        			{{ form_widget(filtre_form.tous) }}
        			{{ form_errors(filtre_form.tous) }}		
                    </td>
        			<td>
        			&nbsp;&nbsp;&nbsp;&nbsp;
        		    {{ form_widget(filtre_form.submit) }}
        		    </td>
        		    {{ form_end(filtre_form) }}
		    
                    </td>
                </tr>
                </table>

    	</div>
    
    {% endblock %}
    
{% block javascripts %}

	{{ parent() }}

       <script type="text/javascript">


       {% if avancement is defined %}
       
       		$("#oeuvresbundle_filtre_avancements_avancement").val("{{avancement}}");
       
       {% endif %}
       
       {% if tous is defined %}
       		var obj = document.getElementById("oeuvresbundle_filtre_avancements_tous");
           	if(obj)
            {
           		obj.value="{{tous}}";
           	}
       {% endif %}

       
			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
       </script>    
{% endblock %}
    
