{% extends '::base.html.twig' %}

{% block body -%}
	{%  if CodeProfilEnCours is defined %}
    <div class="titrelisteetform">

	    <h1>Modification Temps Liturgique</h1>

	</div>
		

    <div class="listeetform">
		<div class="showform">
	
            {{ form_start(edit_form) }}
            
                {{ form_label(edit_form.libelle, 'Libellé') }}
                {{ form_widget(edit_form.libelle) }}
                {{ form_errors(edit_form.libelle) }}
                <br/>
                {{ form_label(edit_form.active, 'Activé') }}
                {{ form_widget(edit_form.active) }}
                {{ form_errors(edit_form.active) }}
                <br/>
                <div id="cp2" class="input-group colorpicker-component">
                    {{ form_label(edit_form.couleur, 'Couleur') }}
                    {{ form_widget(edit_form.couleur) }}
                    {{ form_errors(edit_form.couleur) }}                                
                 	
                 	<span class="input-group-addon"><i></i></span>
		        </div>
		        
                <div id="cp3" class="input-group colorpicker-component">
                    {{ form_label(edit_form.couleurfg, 'Couleur caractéres') }}
                    {{ form_widget(edit_form.couleurfg) }}
                    {{ form_errors(edit_form.couleurfg) }}                                
                 	
                 	<span class="input-group-addon"><i></i></span>
		        </div>		        
		
			{{ form_end(edit_form) }}
		
		</div>
	</div>
	
{% set CodeLoginEnCours=app.request.session.get("gUserLoginLogged") %}

	{% set listeenregs=app.request.session.get(CodeLoginEnCours ~ '_tempsliturgiques_tblenreg') %}
	
	{% set enregencours= 1 %}
	{% set nbenreg=0 %}
	{% set idenreg=0 %}
	
	<div style="background-color:beige; display:none;">
	            		           	<br/>
	nb enreg=
		
		{{ listeenregs|length }}
		
		<br/>
		<!--  |keys affiche clé -->
		
		{% for enregkeys in listeenregs|keys %}
		
			{% set key= enregkeys %}
		

				{% if key=='enregencours' %}
					{% set enregencours= listeenregs[key] %}
				{% endif %}
				{% if key=='tblenreg' %}
				<h1>		
						
					{% set cptr=0 %}
					{% for iden in listeenregs[enregkeys] %}	
						{% set cptr=cptr+1 %}
						{% if  entity.id==iden %}
							<br/>iden:{{ iden }}
							{% set idenreg = cptr %}
						{% endif %}
					{% endfor %}
					{{ listeenregs[key]|length }}
					{% set nbenreg=listeenregs[key]|length %}
							
					nbenreg={{ nbenreg }}
				</h1>
				{% endif %}
				
		{% endfor %} 
					
					
	</div>
		
	<div class="finlisteetform">

		<table>
			<tr>
				<td class="tdtblactionsbdp">
			        <a href="{{ path('tempsliturgiques') }}">
			            <img alt="Retour à la liste" src="/web/css/images/retour_liste.png">
			        </a>
			    </td>
				<td class="tdtblactionsbdp">
				    <a href="{{ path('tempsliturgiques_confirm_action_delete', { 'id': entity.id }) }}">
				     <img alt="Désactiver" src="/web/css/images/desactiver.png" width="64px" height="64px" >
				    </a>			
				</td>	
				
				<td style="background-color:beige; " >
				    {% if idenreg>1 %}
					<a href="{{ path('tempsliturgiques_pagine', { 'idxenreg': idenreg , 'sens': 'prec' , 'action': 'edit' }) }}">
			             <img alt="Précedente" src="/web/images/Actions-arrow-left-icon.png" width="64px" height="64px" >
				    </a>
				    {% endif %}
					{% if idenreg<=1 %}
			             <img alt="premier enregistrement" src="/web/images/Actions-arrow-left-icon.png" width="64px" height="64px" 
			              style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" >
				    {% endif %}				    		    
				    &nbsp;
				    {{ idenreg }}&nbsp;&nbsp;/&nbsp;&nbsp;{{ nbenreg }}
				    &nbsp;
					
					{% if idenreg>=nbenreg %}
			             <img alt="dernier enregistrement" src="/web/images/Actions-arrow-right-icon.png" width="64px" height="64px"
			              style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" >
				    {% endif %}
					{% if idenreg<nbenreg %}
					
					<a href="{{ path('tempsliturgiques_pagine', { 'idxenreg': idenreg , 'sens': 'suiv', 'action': 'edit' }) }}">
			             <img alt="Suivante" src="/web/images/Actions-arrow-right-icon.png" width="64px" height="64px" >
				    </a>				    
				    
				    {% endif %}
				
				</td>
				
								
			</tr>
		</table>

	</div>
	
	{% endif %}

{% endblock %}
{% block javascripts %}
		
		{{ parent() }}
        
	        <script type="text/javascript">
	        
			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
			</script>
{% endblock %}
