{% extends '::base.html.twig' %}

{% block body -%}
	<div class="titrelisteetform">
    	<h1>Temps Liturgiques</h1>  	
	</div>
    <div class="listeetform avecscroll">
	    <table class="records_list table table-striped">
	        <thead>
	            <tr>
	                <th>Libelle</th>
	                <th>Saisi le</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for entity in entities %}

		        {% set couleurligne=entity.couleur %} 	        
	            {% set couleurlignecar=entity.couleurfg %} 	        

	        	{% if entity.couleurdef==1 %}
	            <tr>
		        {% else %}
	            <tr style="background-color:{{couleurligne}}; color:{{ couleurlignecar }}" >	            
		        {% endif %}
	                <td><a href="{{ path('tempsliturgiques_show', { 'id': entity.id }) }}">{{ entity.libelle }}</a></td>
	                <td>{% if entity.datecreateAt %}{{ entity.datecreateAt|date('d/m/Y') }}{% endif %}</td>
	                <td>
	                <ul>
	                    <li>
	                        <a href="{{ path('tempsliturgiques_edit', { 'id': entity.id }) }}">
	                        	<img alt="Modification" src="/web/css/images/edit.png">
	                        </a>
	                    </li>
	                </ul>
	                </td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	 </div>


	<div class="finlisteetform">

            <table>
                <tr>
                    <td>
        	            <a href="{{ path('tempsliturgiques_new') }}">
        		            <img alt="ajout" src="/web/css/images/add.png">
        	            </a>
                    </td>
                    		    {# FILTRES #}
                                 {{ form_start(filtre_form) }}
    
                                    <td>
                                    {{ form_label(filtre_form.tempsliturgique, 'Tempsliturgique', { 'label_attr': {'class': 'filtre-label'} }) }}    				
                        			{{ form_widget(filtre_form.tempsliturgique) }}
                        			{{ form_errors(filtre_form.tempsliturgique) }}
                                    </td>
                                    <td>
                        	
                        	        {{ form_label(filtre_form.tous, 'Tous', { 'label_attr': {'class': 'filtre-label'} }) }}    				
                        			{{ form_widget(filtre_form.tous) }}
                        			{{ form_errors(filtre_form.tous) }}		
                                    </td>
                        			<td>
                        			&nbsp;&nbsp;&nbsp;&nbsp;
                        		    {{ form_widget(filtre_form.submit) }}
                        		    </td>
		    
                    			    {# FILTRES #}
					             {{ form_end(filtre_form) }}
                </tr>
            </table>
            
    </div>
    {% endblock %}
    
{% block javascripts %}

	{{ parent() }}

       <script type="text/javascript">

       {% if tempsliturgique is defined %}
       		$("#oeuvresbundle_filtre_tempsliturgiques_tempsliturgique").val("{{tempsliturgique}}");
		{% endif %}

        var obj = document.getElementById("oeuvresbundle_filtre_tempsliturgiques_tous");
        if(obj)
            {
        	obj.value="{{tous}}";
            }
        
			
			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
       </script>
{% endblock %}
    
        
