{% extends '::base.html.twig' %}

{% block body -%}
    	{%  if CodeProfilEnCours is defined %}
	<div class="titrelisteetform">
	
    <h1>Temp Liturgique</h1></div>

    <div class="listeetform">

		<div class="showform">
	
		    <table class="record_properties">
		        <tbody>
		            <tr class="ligneshow" >
		                <th>Libelle</th>
		                <td>{{ entity.libelle }}</td>
		            </tr>

		            
		            <tr class="ligneshow" >
		                <th class="libelleFomShow"  >Active</th>
		                <td>{{ entity.active==1 ? "O" : "N"}}</td>
		            </tr>
		            
		            <tr class="ligneshow" >
		                <th>Couleur</th>
		                <td>{{ entity.couleur }}</td>
		                
		                
        	        	{% set couleurligne="#ffffff" %}
        
        	        	{% if entity.couleurdef!=1 %}
        		            {% set couleurligne=entity.couleur %} 	        
        	        	{% endif %}
        	        	
	        		            <td style="background-color:{{couleurligne}}" >	            
        	        	        	        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td>
	        		            
		            </tr>
		            
		            
		            <tr class="ligneshow" >
		                <th>Couleur de caractéres</th>
		                <td>{{ entity.couleurfg }}</td>
		                
		                
        	        	{% set couleurlignecar="#000000" %}
        
        	        	{% if entity.couleurdef!=1 %}
        		            {% set couleurlignecar=entity.couleurfg %} 	        
        	        	{% endif %}
        	        	
	        		            <td style="background-color:{{couleurlignecar}}" >	            
        	        	        	        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td>
	        		            
		            </tr>		            
		            		            
		            <tr class="ligneshow" >
		                <th class="libelleFomShow"  >Couleur par défaut</th>
		                <td>{{ entity.couleurdef==1 ? "O" : "N"}}</td>
		            </tr>		            
		            		            
		            <tr class="ligneshow" >
		                <th>Saisi le</th>
		                <td>{{ entity.datecreateAt|date('d/m/Y') }}</td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>

	{% set CodeLoginEnCours=app.request.session.get("gUserLoginLogged") %}

	{% set listeenregs=app.request.session.get(CodeLoginEnCours ~ '_tempsliturgiques_tblenreg') %}
	
	{% set enregencours= 1 %}
	{% set nbenreg=0 %}
	{% set idenreg=0 %}
	
	<div style="background-color:beige; display:none;">
	            		           	<br/>
	nb enreg=
		
		{{ listeenregs|length }}
		
		<br/>
		<!--  |keys affiche clé -->
		
		{% for enregkeys in listeenregs|keys %}
		
			{% set key= enregkeys %}
		

				{% if key=='enregencours' %}
					{% set enregencours= listeenregs[key] %}
				{% endif %}
				{% if key=='tblenreg' %}
				<h1>		
						
					{% set cptr=0 %}
					{% for iden in listeenregs[enregkeys] %}	
						{% set cptr=cptr+1 %}
						{% if  entity.id==iden %}
							<br/>iden:{{ iden }}
							{% set idenreg = cptr %}
						{% endif %}
					{% endfor %}
					{{ listeenregs[key]|length }}
					{% set nbenreg=listeenregs[key]|length %}
							
					nbenreg={{ nbenreg }}
				</h1>
				{% endif %}
				
		{% endfor %} 
					
					
	</div>
	
	
	<div class="finlisteetform">

	<table>
		<tr>
			<td class="tdtblactionsbdp">
		        <a href="{{ path('tempsliturgiques') }}">
		            <img alt="Retour à la liste" src="/web/css/images/retour_liste.png">
		        </a>
			</td>
			<td class="tdtblactionsbdp">
		        <a href="{{ path('tempsliturgiques_edit', { 'id': entity.id }) }}">
		            <img alt="Modification" src="/web/css/images/edit.png">
		        </a>
			</td>
			<td class="tdtblactionsbdp">
			    <a href="{{ path('tempsliturgiques_confirm_action_delete', { 'id': entity.id }) }}">
			     <img alt="Désactiver" src="/web/css/images/desactiver.png" width="64px" height="64px" >
			    </a>			
			</td>
			
				
				<td style="background-color:beige; " >
				    {% if idenreg>1 %}
					<a href="{{ path('tempsliturgiques_pagine', { 'idxenreg': idenreg , 'sens': 'prec' , 'action': 'show' }) }}">
			             <img alt="Précedente" src="/web/images/Actions-arrow-left-icon.png" width="64px" height="64px" >
				    </a>
				    {% endif %}
					{% if idenreg<=1 %}
			             <img alt="premier enregistrement" src="/web/images/Actions-arrow-left-icon.png" width="64px" height="64px" 
			              style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" >
				    {% endif %}				    		    
				    &nbsp;
				    {{ idenreg }}&nbsp;&nbsp;/&nbsp;&nbsp;{{ nbenreg }}
				    &nbsp;
					
					{% if idenreg>=nbenreg %}
			             <img alt="dernier enregistrement" src="/web/images/Actions-arrow-right-icon.png" width="64px" height="64px"
			              style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" >
				    {% endif %}
					{% if idenreg<nbenreg %}
					
					<a href="{{ path('tempsliturgiques_pagine', { 'idxenreg': idenreg , 'sens': 'suiv', 'action': 'show' }) }}">
			             <img alt="Suivante" src="/web/images/Actions-arrow-right-icon.png" width="64px" height="64px" >
				    </a>				    
				    
				    {% endif %}
				
				</td>
				
							
		</tr>
	</table>


	</div>
{% endif %}
{% endblock %}

{% block javascripts %}
		
		{{ parent() }}
        
	        <script type="text/javascript">
		       
			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
			</script>
{% endblock %}
