{% extends '::base.html.twig' %}

{% block body -%}

	<div class="titrelisteetform">
    	<h1>Types de musiques</h1>  	
	</div>
    <div class="listeetform avecscroll">
	    <table class="records_list table table-striped">
	        <thead>
	            <tr>
	                <th>Libelle</th>
		                <th>Active</th>
	                
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
		        {% for entity in entities %}
		            <tr>
		                <td><a href="{{ path('typesmusiques_show', { 'id': entity.id }) }}">{{ entity.libelle }}</a></td>
		                
		                <td>{{ entity.active==1 ? "O" : "N"}}</td>
		                
		                <td>
			                <ul  class="lstactionsul">
			                    <li>
			                        <a href="{{ path('typesmusiques_edit', { 'id': entity.id }) }}">
			                        	<img alt="Modification" src="/web/css/images/edit.png">
			                        </a>
			                    </li>
			                </ul>
		                </td>
		            </tr>
		        {% endfor %}
	        </tbody>
	    </table>

	</div>

	<div class="finlisteetform">

            <table>
                <tr>
                    <td>
        	            <a href="{{ path('typesmusiques_new') }}">
        		            <img alt="ajout" src="/web/css/images/add.png">
        	            </a>
                    </td>
                    
                                 {# FILTRES #}
                                 {{ form_start(filtre_form) }}
    
                                    <td>
                                    {{ form_label(filtre_form.typesmusique, 'Type de musique', { 'label_attr': {'class': 'filtre-label'} }) }}    				
                        			{{ form_widget(filtre_form.typesmusique) }}
                        			{{ form_errors(filtre_form.typesmusique) }}
                                    </td>
                                    <td>
                        	
                        	        {{ form_label(filtre_form.tous, 'Tous', { 'label_attr': {'class': 'filtre-label'} }) }}    				
                        			{{ form_widget(filtre_form.tous) }}
                        			{{ form_errors(filtre_form.tous) }}		
                                    </td>
                        			<td>
                        			&nbsp;&nbsp;&nbsp;&nbsp;
                        		    {{ form_widget(filtre_form.submit) }}
                        		    </td>
		    
                    			    {# FILTRES #}
					             {{ form_end(filtre_form) }}
					             
					             
                </tr>
            </table>

    </div>
    {% endblock %}
    
{% block javascripts %}

	{{ parent() }}

       <script type="text/javascript">
               {# oeuvresbundle_filtre_typesmusiques #}

             	var objtous = document.getElementById("oeuvresbundle_filtre_typesmusiques_tous");
          		
        		$( "#oeuvresbundle_filtre_typesmusiques_typesmusique" ).change(function() {
    	            if(objtous)
                    {
                	objtous.value="0";
                    }
    			});
    			               
            {% if typesmusique is defined %}
          		$("#oeuvresbundle_filtre_typesmusiques_typesmusique").val("{{typesmusique}}");
        	{% endif %}
	        {% if tous is defined %}
            var obj = document.getElementById("oeuvresbundle_filtre_typesmusiques_tous");
            if(obj)
                {
            	obj.value="{{tous}}";
                }
	        {% endif %}
		
			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
       </script>
{% endblock %}
    
