{% extends '::base.html.twig' %}

{% block body -%}

	<div class="titrelisteetform">
    	<h1>Types de musiques</h1>  	
	</div>
    <div class="listeetform avecscroll">
	    <table class="records_list table table-striped">
	        <thead>
	            <tr>
	                <th>Libelle</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
		        {% for entity in entities %}
		            <tr>
		                <td><a href="{{ path('typesmusiques_show', { 'id': entity.id }) }}">{{ entity.libelle }}</a></td>
		                <td>
			                <ul  class="lstactionsul">
			                    <li>
			                        <a href="{{ path('typesmusiques_edit', { 'id': entity.id }) }}">
			                        	<img alt="Modification" src="/web/css/images/edit.png">
			                        </a>
			                    </li>
			                </ul>
		                </td>
		            </tr>
		        {% endfor %}
	        </tbody>
	    </table>

	</div>

	<div class="finlisteetform">

        <ul>
	        <li>
	            <a href="{{ path('typesmusiques_new') }}">
		            <img alt="ajout" src="/web/css/images/add.png">
	            </a>
	        </li>
    	</ul>

    </div>
    
    {% endblock %}
    
{% block javascripts %}

	{{ parent() }}

       <script type="text/javascript">

			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
       </script>
{% endblock %}
    
