{% extends '::base.html.twig' %}

{% block body -%}

   	<div class="titrelisteetform" >

    <h1>{{ message }}
		        
    </h1>
    
    	                            <a class="navbar-brand" href="{{ path('homepage') }}">
	                                Retour à la Page d'accueil
	                            </a>
	                            
	</div>
	
{% endblock %}

{% block javascripts %}

	{{ parent() }}

       <script type="text/javascript">

			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();

		     {% if couleurdef is defined %}
	         {% if couleurdef== 0 %}
				$('.titrelisteetformoeuvre').css('background-color', 'red'); // ma méthode modifiera la propriété "color" et la définira à "red"
				$('.titrelisteetformoeuvre').css('background-color', '{{couleur}}'); // ma méthode modifiera la propriété "color" et la définira à "red"
				$('.titrelisteetformoeuvre').css('color', '{{couleurfg}}');
	
				 {% endif %}
		    {% endif %}
		     
			
       </script>
{% endblock %}


