{% extends '::base.html.twig' %}

{% block body -%}

	<div class="titrelisteetform">

    <h1>Utilisateur</h1>
	
	</div>
    <div class="listeetform">

		<div class="showform">
		
		    <table class="record_properties">
		        <tbody>
		
		            <tr class="ligneshow" >
		                <th>Login</th>
		                <td>{{ entity.Login }}</td>
		            </tr>

		            <tr class="ligneshow" >
		                <th class="thw200" >Nom</th>
		                <td class="tdw800" >{{ entity.nom }}</td>
		            </tr>
		            <tr class="ligneshow" >
		                <th>Prenom</th>
		                <td>{{ entity.prenom }}</td>
		            </tr>
		            <tr class="ligneshow" >
		                <th>Email</th>
		                <td>{{ entity.email }}</td>
		            </tr>
		            <tr class="ligneshow" >
		                <th>Verrouillage</th>
		                <td>
    	                {% if entity.actif==1 %}
           		            <img alt="deverrouillé" src="/web/css/images/unlocked2.png">
    	                {% else %}
           		            <img alt="deverrouillé" src="/web/css/images/locked2.png">
    	                {% endif %}		                
		                </td>
		            </tr>

		            <tr class="ligneshow" >
		                <th>Saisi le</th>
		                <td>{{ entity.datecreateAt|date('d/m/Y') }}</td>
		            </tr>
		        </tbody>
		    </table>
    
		</div>
	</div>
	
{% set CodeLoginEnCours=app.request.session.get("gUserLoginLogged") %}

	{% set listeenregs=app.request.session.get(CodeLoginEnCours ~ '_utilisateurs_tblenreg') %}
	
	{% set enregencours= 1 %}
	{% set nbenreg=0 %}
	{% set idenreg=0 %}	

	<div style="background-color:beige; display:none;">
	            		           	<br/>
	nb enreg=
		
		{{ listeenregs|length }}
		
		<br/>
		<!--  |keys affiche clé -->
		{% for enregkeys in listeenregs|keys %}
		
			{% set key= enregkeys %}

				{% if key=='enregencours' %}
					{% set enregencours= listeenregs[key] %}
				{% endif %}
				{% if key=='tblenreg' %}
				<h1>		
						
					{% set cptr=0 %}
					{% for iden in listeenregs[enregkeys] %}	
						{% set cptr=cptr+1 %}
						{% if  entity.id==iden %}
							<br/>iden:{{ iden }}
							{% set idenreg = cptr %}
						{% endif %}
					{% endfor %}
					{{ listeenregs[key]|length }}
					{% set nbenreg=listeenregs[key]|length %}
							
					nbenreg={{ nbenreg }}
				</h1>
				{% endif %}
				
		{% endfor %} 
		
	</div>

	<div class="finlisteetform">

		<table>
			<tr>
				<td class="tdtblactionsbdp" >
			        <a href="{{ path('utilisateurs') }}">
			            <img alt="Retour à la liste" src="/web/css/images/retour_liste.png">
			        </a>
				</td>
				
				{% if entity.id!=0 %}
				
    				<td class="tdtblactionsbdp">
    			        <a href="{{ path('utilisateurs_edit', { 'id': entity.id }) }}">
    			            <img alt="Modification" src="/web/css/images/edit.png">
    			        </a>
    				</td>
    				<td class="tdtblactionsbdp">
    				    	{%  if entity.actif==1 %}
    					    <a href="{{ path('utilisateurs_confirm_delete', { 'id': entity.id }) }}">
    			             <img alt="Désactiver" src="/web/css/images/locked2.png" width="64px" height="64px" >
    					    </a>			
    			             {% else %}
    					    <a href="{{ path('utilisateurs_confirm_reactiv', { 'id': entity.id }) }}">
    			             <img alt="Désactiver" src="/web/css/images/unlocked2.png" width="64px" height="64px" >
    					    </a>			
    			            {% endif %}
    			            
    
    				</td>
    				
    	            {# generation nouveau mot de passe #}
    				<td class="tdtblactionsbdp">
    		           <a href="{{ path('utilisateurs_confirm_nvmdp', { 'id': entity.id }) }}">
    		             <img alt="Désactiver" src="/web/css/images/passwd4.png" width="64px" height="64px" >
    				    </a>	
    				</td>
				
    	        {% endif %}
				
				<td style="background-color:beige; " >
				    {% if idenreg>1 %}
					<a href="{{ path('utilisateurs_pagine', { 'idxenreg': idenreg , 'sens': 'prec' , 'action': 'show' }) }}">
			             <img alt="Précedente" src="/web/images/Actions-arrow-left-icon.png" width="64px" height="64px" >
				    </a>
				    {% endif %}
					{% if idenreg<=1 %}
			             <img alt="premier enregistrement" src="/web/images/Actions-arrow-left-icon.png" width="64px" height="64px" 
			              style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" >
				    {% endif %}				    		    
				    &nbsp;
				    {{ idenreg }}&nbsp;&nbsp;/&nbsp;&nbsp;{{ nbenreg }}
				    &nbsp;
					
					{% if idenreg>=nbenreg %}
			             <img alt="dernier enregistrement" src="/web/images/Actions-arrow-right-icon.png" width="64px" height="64px"
			              style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" >
				    {% endif %}
					{% if idenreg<nbenreg %}
					
					<a href="{{ path('utilisateurs_pagine', { 'idxenreg': idenreg , 'sens': 'suiv', 'action': 'show' }) }}">
			             <img alt="Suivante" src="/web/images/Actions-arrow-right-icon.png" width="64px" height="64px" >
				    </a>				    
				    
				    {% endif %}
				
				</td>	
								
			</tr>
		</table>
	</div>	
	
	

{% endblock %}

{% block javascripts %}
		
		{{ parent() }}
        
	        <script type="text/javascript">
	        
			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
			</script>
{% endblock %}



