{% extends '::base.html.twig' %}

{% block body -%}
	<div class="titrelisteetform">

        <table>
        	<tr>
        		<td>
            		<h1>Liste des Tessiture de Voix</h1>
        		</td>
        		
        	</tr>	
        </table>
				
	</div>

	    <div class="listeetform avecscroll">
	    	<table class="records_list table table-striped">
	    	
		        <thead>
		            <tr>
		                <th>Libelle</th>
		                <th>Sous Catégorie</th>
		                <th>Active</th>
		                <th>Saisie le</th>
		                <th>Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% set idvoix=0 %}
		        {% for entity in entities %}
		        
		        	{% if idvoix==0 or entity.id!=idvoix %}
		        
		        		{% if entity.idsouscat==0 %}
		        
		            	<tr>
			                <td><a href="{{ path('voix_show', { 'id': entity.id }) }}">{{ entity.libelle }}</a></td>
			                <td>&nbsp;</td>
			                <td>{{ entity.active==1 ? "O" : "N"}}</td>
			                <td>{% if entity.datecreateAt %}{{ entity.datecreateAt|date('d/m/Y') }}{% endif %}</td>
			                <td>
			                <ul>
			                    <li>
			                        <a href="{{ path('voix_edit', { 'id': entity.id }) }}">
	  		                        	<img alt="Modification" src="/web/css/images/edit.png">
			                        
			                        </a>
									&nbsp;
				                        <a class="classajoutsscatvoix" href="{{ path('sscategvoix_new', { 'idvoix': entity.id }) }}">
		  		                        	<img alt="ajout" src="/web/css/images/add.png">
				                        </a>
									
			                    </li>
			                    
			                    		                    
			                </ul>
			                </td>

		           		</tr>
	            
	                		{% set idvoix = entity.id %}
	                	{% endif %}
	                	
			                {% if entity.idsouscat!=0 %}
		                	<tr>
		                		<td>&nbsp;</td>
	
			                <td><a href="{{ path('sscategvoix_show', { 'id': entity.idsouscat }) }}">{{ entity.libsouscateg }}</a></td>
		               
		               			<td>{{ entity.sscatactive==1 ? "O" : "N"}}</td>
			                	
				                <td>{% if entity.datcsouscateg %}{{ entity.datcsouscateg|date('d/m/Y') }}{% endif %}</td>
			                	<td>
				                	<ul>
				                    <li>
			                        <a href="{{ path('sscategvoix_edit', { 'id': entity.idsouscat }) }}">
	  		                        	<img alt="Modification" src="/web/css/images/edit.png">
			                        
			                        </a>
			                        </li>
			                        </ul>
			                	</td>
	
		                	</tr>
		                	{% endif %}
	                
	                {% else %}
	                	<!-- sous categ suivantes -->
		                {% if entity.idsouscat!=0 %}
	                	
		                	<tr>
		                		<td>&nbsp;</td>
		                		
				                <td><a href="{{ path('sscategvoix_show', { 'id': entity.idsouscat }) }}">{{ entity.libsouscateg }}</a></td>
			                	
	
		               			<td>{{ entity.sscatactive==1 ? "O" : "N"}}</td>
			                	
				                <td>{% if entity.datcsouscateg %}{{ entity.datcsouscateg|date('d/m/Y') }}{% endif %}</td>
			                	<td>
			                	
		                			<ul>
				                    <li>
				                        <a href="{{ path('sscategvoix_edit', { 'id': entity.idsouscat }) }}">
		  		                        	<img alt="Modification" src="/web/css/images/edit.png">
				                        
				                        </a>
				                    </li>
				                    </ul>
				                        		                	
			                	</td>
	
		                	</tr>
	                	{% endif %}
		                	
	                		                
	                {% endif %}
	                
		        {% endfor %}
		        </tbody>
		    </table>
		</div>
		<div class="finlisteetform">

            <table>
            <tr>
            <td>
	            <a href="{{ path('voix_new') }}">
			            <img alt="ajout" src="/web/css/images/add.png">
	            </a>
            </td>
            {# FILTRES #}
             {{ form_start(filtre_form) }}
            <td>
            {{ form_label(filtre_form.voix, 'Tessiture', { 'label_attr': {'class': 'filtre-label'} }) }}    				
			{{ form_widget(filtre_form.voix) }}
			{{ form_errors(filtre_form.voix) }}
            </td>
            <td>
	
	        {{ form_label(filtre_form.tous, 'Tous', { 'label_attr': {'class': 'filtre-label'} }) }}    				
			{{ form_widget(filtre_form.tous) }}
			{{ form_errors(filtre_form.tous) }}		
            </td>
			<td>
			&nbsp;&nbsp;&nbsp;&nbsp;
		    {{ form_widget(filtre_form.submit) }}
		    </td>
		    {{ form_end(filtre_form) }}
            </tr>
    		</table>

    	</div>
    {% endblock %}
    
{% block javascripts %}

	{{ parent() }}

       <script type="text/javascript">

         	var objtous = document.getElementById("oeuvresbundle_filtre_voix_tous");
     		
    		$( "#oeuvresbundle_filtre_voix_voix" ).change(function() {
               if(objtous)
               {
           			objtous.value="0";
               }
    		});
    
       
            {% if voix is defined %}
            
            $("#oeuvresbundle_filtre_voix_voix").val("{{voix}}");
            
            {% endif %}
            
            {% if tous is defined %}
            var obj = document.getElementById("oeuvresbundle_filtre_voix_tous");
            if(obj)
               {
            obj.value="{{tous}}";
            }
            {% endif %}
          

			$("#menu1").hide();
			$("#menu2").hide();
			$("#menu3").hide();
						
       </script>    
{% endblock %}

    
